{% extends "mainapp/base.html" %}

{% block title %}Update Employee 2{% endblock %}

{% block content %}
  <form method="post">{% csrf_token %}
    {% for field in form %}
      <label for="{{ form.field.id_for_label }}">{{ field.label_tag }}</label>
      {{ field.errors }}
      {{ field|linebreaks }}
    {% endfor %}
    <!-- {{ form.as_p }} -->
    <input type="submit" value="Update Employee" class="btn btn-primary btn-sm">
  </form>

  <script>
    document.getElementById("nav_manage_id").setAttribute("class", "nav-link active"); 
  </script>   
{% endblock %}